# 1. SELECT

## 1.1.  בחירת הכותרת של השירים מתוך טבלת  albom

### SELECT Title from album

## 1.2. ואם אני רוצה לקבל רק 5 רשומות

### SELECT title from album
### limit 5

## 1.3. נוסיף את ה- albumid

### SELECT title, albumid from album
### limit 5

# 2. Computed fields

## 2.1. לבחור את מספר החשבונית ואת סכום החשבונית ולחשב את המחיר אחרי מע"מ (ביצוע מניפולציה מתמטית)

### Select InvoiceId, total, total*1.17 from Invoice

## 2.2. לקרוא לעמודה החדשה בשם Total_vat

### Select InvoiceId, total, total*1.17 as total_vat from Invoice

## 2.3. להוריד את הטבלאות לקובץ Excel

### ללחוץ על F8

## 2.4. ואם הייתי רוצה רק את 100 רשומות

### Select InvoiceId, total, total*1.17 as total_vat from Invoice limit 100

# 3. SELECT concat

## 3.1. לקחת שתי מחרוזות ולחבר אותן לעמודה אחת. לקחת את name ו- composer מתוך track ולחבר אותן לעמודה אחת

### SELECT concat_ws('===>', name, composer) as name_and_composer from track

# 4. Field name - לתת שם חדש לפיצ'ר

## 4.1. לקחת את העמודה Total מתוך Invoice ולשונות את שמה ל- price_before_vat ולקחת את העמודה Total_vat ולשנות את שמה ל- price_after_vat

### SELECT total as price_before_vat, total*1.17 as price_after_vat from invoice

# 5. Unique - להחזיר לנו את הערכים הייחודיים

## 5.1. נבקש לקבל את הערים שבהן גרים העובדים מתוך טבלת ה- employee

### Select distinct city from employee

# 6. Where - לבצע פילטור לפי תנאי

## 6.1. תחזיר את כל החשבוניות מתוך טבלת invoice שבהן הסכום היה יותר מ- 10 דולר וגם שהקניה בוצעה בארה"ב

### SELECT * from invoice 
### where total > 10 and billingcountry = 'USA'

## 6.2. אם נרצה לקבל הסבר על השאילתא

### ללחוץ על F7

# 7. In - אם אנחנו רוצים לבדוק האם יש פיצ'ר מסוים שהערכים בו נמצאים בתוך סט אחר של ערכים ולידיים

## 7.1. נמצא את כל החשבוניות מתוך טבלת invoice שמגיעות מארה"ב או מקנדה

### SELECT * from invoice
### where billingcountry in ('USA', 'Canada')

# 8. Wild cards - חיפוש כל השמות שמתחילות באות מסוימת

## 8.1. נמצא את כל המדינות מתוך טבלת invoice שמתחילות באות S ושמסתיימות באות a או ב- da

### SELECT * from invoice
### where billingcountry like 'S%'

## 8.2. נמצא את כל המדינות מתוך טבלת invoice ושמסתיימות באות a

### SELECT * from invoice
### where billingcountry like '%a'

## 8.3. נמצא את כל המדינות מתוך טבלת invoice ושמסתיימות באות da

### SELECT * from invoice
### where billingcountry like '%da'

# 9. Sorting - לבצע מיון לפי פיצ'ר מסוים

## 9.1. לקחת את כל המדינות מתוך טבלת invoice ולמיין אותן לפי total בסדר עולה

### SELECT * from invoice
### order by total asc

## 9.2. לקחת את כל המדינות מתוך טבלת invoice ולמיין אותן לפי total בסדר יורד

### SELECT * from invoice
### order by total desc

## 9.3. ואם אני רוצה לקחת את היקר ביותר

### SELECT * from invoice
### order by total desc
### limit 1

# 10. Sorting by computed field - מיון לפי מיקום

## 10.1 לקחת 4 רשומות בלבד של milliseconds ו- bytes מתוך טבלת track

### SELECT milliseconds, bytes from track limit 4

## 10.2 לקחת את כל הרשומות של milliseconds ו- bytes מתוך טבלת track ולמיין אותן לפי הפיצ'ר השני (כלומר לפי bytes)

### SELECT milliseconds, bytes from track
### order by 2

## 10.3 לקחת את כל הרשומות של milliseconds ו- bytes מתוך טבלת track ולמיין אותן לפי הפיצ'ר השני (כלומר לפי bytes*milliseconds)

### SELECT milliseconds, bytes, bytes*milliseconds from track
### order by bytes*milliseconds

# 11. Count(*) - יכול לקבל בפנים איזושהי שאילתא מסוימת ואז להחזיר כמה רשומות ענו על אותה שאילתא

## 11.1 מהו מספר הרשומות בטבלת invoice שעונות על השאילתא שה- total גבוה מ- 3 דולר

### SELECT count(*) from invoice
### where total > 3

# 12. Group by - אגרגציה

## 12.1 אנחנו רוצים לקבל מתוך טבלת invoice את ה- average total ואת ה- sum total של כל המדינות

### SELECT billingcountry, avg(total) ,sum(total) 
### from invoice
### group by billingcountry

## 12.2 ואם נרצה לסנן את התוצאה בסדר יורד על ידי הפיצ'ר השני

### SELECT billingcountry, avg(total) ,sum(total) 
### from invoice
### group by billingcountry
### order by 2 desc

# 13. Having - פילטר מעל ה- Group by, כלומר הוא מאפשר לפלטר בתוך תוצאת האגרגציה

## 13.1 אנחנו רוצים לבדוק ממוצע של invoice במדינות, אבל מה שמעניין אותנו זה לפלטר רק חשבוניות שה- total שלהן גבוה מ- 2 דולר

### SELECT billingcountry, avg(total)
### from invoice
### where total > 2
### group by billingcountry

## 13.2 ניקח את תוצאת האגרגרציה ונציג רק את הממוצעים שגבוהים מ- 9 דולר

### SELECT billingcountry, avg(total)
### from invoice
### where total > 2
### group by billingcountry
### having avg(total) > 9